manifest {
  homePage = 'https://github.com/hermespara'
  description = 'This is a RiboMethSeq pipeline'
  mainScript = 'main.nf'
  author = 'Hermes Paraqindes'
}


params {
	dir = ''
	adapters = '$CONDA_PREFIX/share/trimmomatic-0.39-2/adapters/TruSeq3-SE.fa'
	LEADING = 30
	TRAILING = 30
	SLIDINGWINDOW = '4:15'
	AVGQUAL = 30
	MINLEN = 8
	trimmomatic_threads = 3
	results_path = ''
	bowtie = "--threads 7 --sensitive -L 17"
	r_script=  "$baseDir/Rscripts/Refine/Rscript_refine.R"
	r_export =  "$baseDir/Rscripts/QC/r_export.R"
}


process {
	withName: 'fastq_1' { cpus = 2; time = '1h'}
	withName: 'trimming' { cpus = 4; time = '4h'}
	withName: 'fastq_1' { cpus = 2; time = '1h'}
	withName: 'multiqc' { cpus=2; time = '1h'}
	withName: 'align_bowtie2' {cpus = 4; memory = 8.GB; time = '12h' }
	withName: 'r_refine' {cpus = 4; memory = 4.GB}
	withName: 'count5' {cpus = 4; memory = 12.GB}
	withName: 'r_export_run' {cpus=2; time = '1h'}

}


profiles {
	conda {
			process.conda = "$baseDir/conda.yml"
			conda.enabled = true
		
 	}  
	docker {
		{
			docker.enabled = true
		}
		
	}

	human {
		params {
			bowtie_index =  "$baseDir/ref_human/human_index"
			size58S = 157
			size28S = 5070
			size18S = 1869
			size5S = 121
			fasta_58S =  "$baseDir/fasta_seq/Human_58SrRNA_NR_046235_3.fasta"
			fasta_18S =  "$baseDir/fasta_seq/Human_18SrRNA_NR_046235_3.fasta"
			fasta_28S =  "$baseDir/fasta_seq/Human_28SrRNA_NR_046235_3.fasta"
			fasta_5S =   "$baseDir/fasta_seq/Human_5SrRNA_NR_046235_3.fasta"
			search_58S = "NR_046235.3_5.8S"
			search_18S = "NR_046235.3_18S"
			search_28S = "NR_046235.3_28S"
			search_5S = "NR_023363.1_5S"	
		}	
	}
	mouse {
		params {
			bowtie_index = "$baseDir/ref/mouse_index"
			size58S = 157
			size28S = 4730
			size18S = 1870
			size5S = 121
			fasta_58S =  "$baseDir/fasta_seq/Mouse_58SrRNA_NR_003280_2.fasta"
			fasta_18S =  "$baseDir/fasta_seq/Mouse_18SrRNA_NR_003278_3.fasta"
			fasta_28S =  "$baseDir/fasta_seq/Mouse_28SrRNA_NR_003279_1.fasta"
			fasta_5S =   "$baseDir/fasta_seq/Mouse_5SrRNA_NR_030686_1.fasta"
			search_58S = "NR_003280.2_5.8SrRNA_mouse"
			search_18S = "NR_003278.3_18SrRNA_mouse"
			search_28S = "NR_003279.1_28SrRNA_mouse"
			search_5S = "NR_030686.1_5SrRNA_mouse"
		}
	}



}

report {
    enabled = true
    file = "${params.results_path}/RMS_nextflow_report.html"
}
