manifest {
	homePage = 'https://github.com/EpiRnaTools/ribomethseq-nf'
	description = 'RiboMethSeq data processing'
	mainScript = 'main.nf'
	name = 'ribomethseq-nf'
	author = 'Hermes Paraqindes, Theo Combe'
	version = '1.0'
}

/***************************************************************/
/*                  Nextflow execution reporting               */
/***************************************************************/
params.outdir      = '.'
params.logdir      = params.outdir
params.report_dir  = params.logdir
params.report_base = 'ribomethseq-nf.report'

report {
	enabled = true
	file = "${params.report_dir}/${params.report_base}/exec-report.html"
}

trace {
	enabled = true
	fields = 'process,task_id,hash,name,attempt,status,exit,realtime,cpus,memory,%cpu,vmem,rss,submit,start,complete,duration,realtime,rchar,wchar'
	file = "${params.report_dir}/${params.report_base}/exec-trace.txt"
}

/***************************************************************/
/*                  Nextflow execution parameters              */
/***************************************************************/

profiles {
	conda {
		includeConfig "nf-config/exec.config"
		conda.enabled = true

		process {
			withName: 'fastqc|trim|bowtie2|filter|multiqc|counts' {
				//conda = "$baseDir/docker/rms-processing.yml"
				conda = "/home/ferraria/software/miniconda3/envs/rms-processing"
			}
			withName: 'split|report' {
				//conda = "$baseDir/docker/rms-report.yml"
				conda = "/home/ferraria/software/miniconda3/envs/rms-report"
			}
		}
	}
	docker {
		includeConfig "nf-config/exec.config"
		docker.enabled = true
		//process.container = 'ribomethseq-nf:dev'
		process.container = 'ribomethseq-nf:1.0'
		process.containerOptions = '--mount type=bind,source=/Users/synergie/Work,target=/Users/synergie/Work'
	}
	docker {
		includeConfig "nf-config/exec.config"
		singularity.enabled = true
		singularity.cacheDir = '/home/ferraria/software/sif'
		process.container = 'ribomethseq-nf_1.0.sif'
		process.containerOptions = '--bind /Users/synergie/Work'
	}
	human {
		includeConfig "nf-config/human.config"
	}
	mouse {
		includeConfig "nf-config/mouse.config"
	}
}
