
params.scheduler = 'slurm'
params.qsize = 20

executor {
	name = params.scheduler
	queueSize = params.qsize
}


params.fastqc_threads   = 2
params.trimmo_threads   = 3
params.bowtie_threads   = 7
params.samtools_threads = 4

process {
	withName: 'fastqc_before'  {cpus = params.fastqc_threads; time = '1h'}
	withName: 'trim'           {cpus = params.trimmo_threads; time = '4h'}
	withName: 'fastqc_after'   {cpus = params.fastqc_threads; time = '1h'}
	withName: 'multiqc'        {cpus = 2; time = '1h'}
	withName: 'bowtie2'        {cpus = params.bowtie_threads; memory = 12.GB; time = '12h'}
	withName: 'r_refine'       {cpus = 4; memory = 4.GB}
	withName: 'count5'         {cpus = params.samtools_threads; memory = 12.GB}
	withName: 'r_export'       {cpus = 2; time = '1h'}
}
