params {
	bowtie_index = "$baseDir/data/bowtie/human/human_index"
	size58S = 157
	size28S = 5070
	size18S = 1869
	size5S = 121
	fasta_58S =  "$baseDir/data/fasta/Human_58SrRNA_NR_046235_3.fasta"
	fasta_18S =  "$baseDir/data/fasta/Human_18SrRNA_NR_046235_3.fasta"
	fasta_28S =  "$baseDir/data/fasta/Human_28SrRNA_NR_046235_3.fasta"
	fasta_5S =   "$baseDir/data/fasta/Human_5SrRNA_NR_046235_3.fasta"
	search_58S = "NR_046235.3_5.8S"
	search_18S = "NR_046235.3_18S"
	search_28S = "NR_046235.3_28S"
	search_5S = "NR_023363.1_5S"
}
